@import "vars";

/**
 * Elevate an element with a box shadow
 * @param {number} height - Height to elevate
 */
@mixin elevate($height) {
  box-shadow: nth($elevations, $height + 1);
}

/**
 * Transition a set of properties
 * @param {string[]} properties - Transition properties
 * @param {number}   time       - Transition time
 * @param {string}   type       - Transition type
 */
@mixin transition($properties, $time: 0.2s, $type: ease) {
  $result: null;
  $comma: ",";

  @for $i from 1 through length($properties) {
    $property: nth($properties, $i);
    $value: $property $time $type;

    $result: if(
      $i != length($properties),
      $result#{$value}#{$comma},
      $result#{$value}
    );
  }

  transition: $result;
}

/*** Single Use Mixing *****/

/**
 * Generate spacing rules for a direction
 * @param {string}   type       - Type of rule (margin/padding)
 * @param {string}   prefix     - Direction prefix
 * @param {string[]} directions - Directions for rule
 * @param {string}   name       - Spacing name
 * @param {number}   number     - Spacing value
 */
@mixin generateSpacingRules($type, $prefix, $directions, $spacing) {
  $spacing-name: nth($spacing, 1);
  $spacing-value: nth($spacing, 2);
  
  .#{str-slice($type, 0, 1)}#{$prefix}-#{$spacing-name} {
    @each $direction in $directions {
      #{$type}-#{$direction}: #{$spacing-value};
    }
  }
}

/**
 * Generate spacing classes
 * @param {string} type    - Type of rule (margin/padding)
 * @param {Object} spacing - Spacing name/value
 */
@mixin generateSpacingClasses($type, $spacing) {
  @include generateSpacingRules($type, "a", ("top","bottom","left","right"), $spacing);
  @include generateSpacingRules($type, "x", ("left","right"), $spacing);
  @include generateSpacingRules($type, "y", ("top","bottom"), $spacing);
  @include generateSpacingRules($type, "t", ("top"), $spacing);
  @include generateSpacingRules($type, "b", ("bottom"), $spacing);
  @include generateSpacingRules($type, "r", ("right"), $spacing);
  @include generateSpacingRules($type, "l", ("left"), $spacing);
}