html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
  font-family: Muli, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

pre {
  text-align: left;
}

img {
  max-width: 1005;
  height: auto;
}

