@import "mixins";

// Generate the elevation classes
@for $i from 0 through length($elevations) - 1 {
  $elevation: nth($elevations, $i + 1);
  
  .elevation-#{$i} {
    @include elevate($i);
  }
}

// Generate spacing rule(s) for a direction

@each $spacing in $spacings {
  @include generateSpacingClasses("margin", $spacing);
  @include generateSpacingClasses("padding", $spacing);
}
