// Elevation
$elevation-dark: rgba(0, 0, 0, 0.2);
$elevation-mid: rgba(0, 0, 0, 0.14);
$elevation-light: rgba(0, 0, 0, 0.12);

$elevations: [
  (none),
  (0 2px 1px -1px $elevation-dark, 0 1px 1px 0 $elevation-mid, 0 1px 3px 0 $elevation-light),
  (0 3px 1px -2px $elevation-dark, 0 2px 2px 0 $elevation-mid, 0 1px 5px 0 $elevation-light),
  (0 3px 3px -2px $elevation-dark, 0 3px 4px 0 $elevation-mid, 0 1px 8px 0 $elevation-light),
  (0 2px 4px -1px $elevation-dark, 0 4px 5px 0 $elevation-mid, 0 1px 10px 0 $elevation-light),
  (0 3px 5px -1px $elevation-dark, 0 5px 8px 0 $elevation-mid, 0 1px 14px 0 $elevation-light),
  (0 3px 5px -1px $elevation-dark, 0 6px 10px 0 $elevation-mid, 0 1px 18px 0 $elevation-light),
  (0 4px 5px -2px $elevation-dark, 0 7px 10px 1px $elevation-mid, 0 2px 16px 1px $elevation-light),
  (0 5px 5px -3px $elevation-dark, 0 8px 10px 1px $elevation-mid, 0 3px 14px 2px $elevation-light),
  (0 5px 6px -3px $elevation-dark, 0 9px 12px 1px $elevation-mid, 0 3px 16px 2px $elevation-light),
  (0 6px 6px -3px $elevation-dark, 0 10px 14px 1px $elevation-mid, 0 4px 18px 3px $elevation-light)
];

// Spacing
$spacings: ("no", 0), ("xs", 4px), ("sm", 8px), ("md", 16px), ("lg", 32px), ("xl", 48px);
