<template>
  <div :style="{ backgroundColor: null }" class="convert-color">
    <div class="convert-color__fields">
      <input
        id="convertColor__hexTxt"
        :value="colors.hexInput"
        class="convert-color__input"
        name="hex"
        type="text"
        placeholder="hex"
        @input="updateColor('hex', $event.target.value)"
      />
      <input
        id="convertColor__rgbTxt"
        :value="colors.rgbInput"
        class="convert-color__input"
        name="rgb"
        type="text"
        placeholder="rgb"
        @input="updateColor('rgb', $event.target.value)"
      />
      <pre>{{ colors }}</pre>
    </div>
  </div>
</template>

<script>
import { computed, ref } from "vue";

const parseHex = (hexString) => {
  if (!hexString) return null;

  // REGEX: Matches 3 or 6 character hex strings (with optional bash)
  const hexRegex = /^#?((?:[0-9a-f]{3})|(?:[0-9a-f]{6}))$/i;
  const [, match] = hexString.match(hexRegex) || [];

  if (!match) return null;

  // Convert "short" hex values to regular hex values (doubling each char)
  return match.length === 3
    ? match.split("").reduce((accum, c) => `${accum}${c}${c}`, "")
    : match;
};

const parseRgb = (rgbString) => {
  if (!rgbString) return null;

  // REGEX: Matches rgb strings (with optional 'rgb' prefix and parentheses)
  const rgbShortRegex = /^([0-9]{1,3},[0-9]{1,3},[0-9]{1,3})$/i;
  const rgbFullRegex = /^(?:rgb\()([0-9]{1,3},[0-9]{1,3},[0-9]{1,3})\)$/i;

  const [, match] =
    rgbString.match(rgbShortRegex) || rgbString.match(rgbFullRegex) || [];

  return match || null;
};

export default {
  name: "ConvertColor",
  setup() {
    const colors = ref({
      hexColor: null,
      rgbColor: null,
      hexInput: "",
      rgbInput: "",
    });

    /**
     * Update the colors when one is changed
     */
    const updateColor = (color, value) => {
      let colorName = `${color}Input`;
      if (colors.value[colorName] === undefined) return;

      // Update the changed color input value
      colors.value[colorName] = value;

      // TODO: Parse the changed color input value
      if (color === "hex") {
        const hexColor = parseHex(value);

        colors.value.hexColor = hexColor;
      } else if (color === "rgb") {
        const rgbColor = parseRgb(value);

        colors.value.rgbColor = rgbColor;
      }

      // TODO: Update the other color input value IF a valid color
    };

    return {
      colors,
      updateColor,
    };
  },
};
</script>

<style lang="scss" scoped>
.convert-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  // Default background color
  // background-color: #64b5f6;
  background-color: #ffd454;
}

.convert-color__fields {
  display: flex;
  flex-direction: column;
}

.convert-color__input {
  width: 300px;
  padding: 8px 2px;
  font-size: 2rem;
  font-weight: 200;
  border: none;
  border-bottom: 1px dotted darkgrey;
  background-color: transparent;
  color: black;

  &::placeholder {
    color: #222222;
  }

  &:focus {
    outline: none;
    border-bottom: 1px dotted black;
  }

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}
</style>
