<template>
  <div class="convert-base64">
    <div class="convert-base64__fields">
      <input
        id="convertBase64__hexTxt"
        :value="colors.hexInput"
        class="convert-base64__input"
        name="hex"
        type="text"
        placeholder="hex"
        @input="updateColor('hex', $event.target.value)"
      />
      <input
        id="convertBase64__rgbTxt"
        :value="colors.rgbInput"
        class="convert-base64__input"
        name="rgb"
        type="text"
        placeholder="rgb"
        @input="updateColor('rgb', $event.target.value)"
      />
    </div>
  </div>
</template>

<script>
import { computed, ref } from "vue";

export default {
  name: "ConvertBase64",
  setup() {
    const colors = ref({
      hexColor: null,
      rgbColor: null,
      hexInput: "",
      rgbInput: "",
    });

    /**
     * Update the colors when one is changed
     */
    const updateColor = (color, value) => {
      let colorName = `${color}Input`;
      if (colors.value[colorName] === undefined) return;

      // Update the changed color input value
      colors.value[colorName] = value;

      // TODO: Parse the changed color input value
    };

    return {
      colors,
      updateColor,
    };
  },
};
</script>

<style lang="scss" scoped>
.convert-base64 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #0064aa;
}

.convert-base64__fields {
  display: flex;
  flex-direction: column;
}

.convert-base64__input {
  width: 300px;
  padding: 8px 2px;
  font-size: 2rem;
  font-weight: 200;
  border: none;
  border-bottom: 1px dotted darkgrey;
  background-color: transparent;
  color: black;

  &::placeholder {
    color: #222222;
  }

  &:focus {
    outline: none;
    border-bottom: 1px dotted black;
  }

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}
</style>
